/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

a{

	outline:none;

}



.header_bg{

	background:url(../../images/header/header_bg.gif) repeat-x;

}

/*--------------------------------------------------

  REQUIRED to hide the non-active tab content.

  But do not hide them in the print stylesheet!

  --------------------------------------------------*/

.tabberlive .tabbertabhide {

 display:none;



}



/*--------------------------------------------------

  .tabber = before the tabber interface is set up

  .tabberlive = after the tabber interface is set up

  --------------------------------------------------*/

.tabber {



}



img{

	border:none;
	behavior:url("pngbehavior.htc");

}



.tabberlive {

 

}



/*--------------------------------------------------

  ul.tabbernav = the tab navigation list

  li.tabberactive = the active tab

  --------------------------------------------------*/

ul.tabbernav{

 margin:0;

 padding: 3px 0px;

 font-size:13px;

}



ul.tabbernav li{

 list-style: none;

 margin: 0;

 display: inline;

}



ul.tabbernav li a{

	padding: 10px 30px 10px 30px;

	margin-left: 1px;

	text-decoration: none;

	background-color: #056fa6;

	font-weight:bold;

}



ul.tabbernav li a:link { 

	color: #8ddfff;

	outline:none;

}

ul.tabbernav li a:visited { color: #667; }



ul.tabbernav li a:hover{

 color: #fff;

 background: #013b60;

}



ul.tabbernav li.tabberactive a{

 background-color: #013b60;

 color:#FFFFFF;

}



ul.tabbernav li.tabberactive a:hover{

 color: #fff;

 background: #003759;

}



/*--------------------------------------------------

  .tabbertab = the tab content

  Add style only after the tabber interface is set up (.tabberlive)

  --------------------------------------------------*/

.tabberlive .tabbertab {

	padding:5px;

	color:#FFFFFF;

	font-size:14px;

	 /* If you don't want the tab size changing whenever a tab is changed

    you can set a fixed height */



 /* height:200px; */



 /* If you set a fix height set overflow to auto and you will get a

    scrollbar when necessary */



 /* overflow:auto; */

}



/* If desired, hide the heading since a heading is provided by the tab */

.tabberlive .tabbertab h2 {

 display:none;

}

.tabberlive .tabbertab h3 {

 display:none;

}

.tabberlive .tabbertab ul {

	margin:15px 0px 0px 0px;

	padding:0px 0px 0px 25px;

	letter-spacing:0.3px;

}

.tabberlive .tabbertab li {

	line-height: 22px;

	color:#FFFFFF;

	font-size:14px;

}

.tabbertab_title{

	font-size:18px;

	font-weight:bold;

	color:#fcd505;



}

.tabbertab_caption{

	font-style:italic;

	color:#7ad9ff;

	font-size:15px;

	letter-spacing:0.3px;

}

.margin_top{

	margin-top:20px;

}

.tryany{

	color:#FFFFFF;

	font-size:17px;

}