body{
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}

a:link,a:visited{
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #2d0000;
}

.aril {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #2d0000;
}
.stroke {
	border: 1px solid #0c6390;
}
.wite {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}
.formbutton{
	cursor:pointer;
	border:1px outset #0A80B5;
	color:#FFFFFF;
	font-weight:bold;
	height: 22px;
	width: 60px;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px;
	background-color: #306B95;
	background-image: url(images/formbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0D5F8A;
}
.fieldwidth {
	width: 180px;
	height: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F4F4F4;
	font-weight: normal;
	background-color: #306B95;
}
.textfield {
	width: 180px;
	height: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	background-color: #FFFFFF;
}
.resultTab{
	background-color: #2d0000;
}
.main_manu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0F4568;
	font-weight: bold;
}
.Sub_menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #0D5F8A;
}
.Sub_menu:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #0D5F8A;
}
.Sub_menu:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #0D5F8A;
}
.Sub_menu:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #0D5F8A;
}
.Sub_menu:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #0D5F8A;
}
.ver {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

/*Pagination*/

div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #85b1c7;
	text-decoration: none; /* no underline */
	color: #0c6390;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #0c6390;
	color: #000;
}
div.pagination span.current {
	padding: 1px 6px 1px 6px;
	background-color: #0c6390;
	color: #FFF;
	}
	div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
		color: #DDD;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
	}


.menubg,.menubg2{
background:url(../images/menubg.gif) repeat-x left;
color:#FFFFFF;
font-weight:bold;
}
.menu a:link,.menu a:visited{
font:bold 12px Geneva, Arial, Helvetica, sans-serif;
text-decoration:none;
color:#FFFFFF;
}
.menubg a:hover{
background-color:#73c6ff;
padding:3px 10px 6px 10px ;
margin-top:5px;
color:#000000;
}

.menubg img{
color:#000000;
margin:0px;
padding:0px;
}
.selected:link,.selected:visited{
color:#000000;
background-color:#73c6ff;
padding:3px 10px 6px 10px ;
margin-top:5px;
font:bold 12px Geneva, Arial, Helvetica, sans-serif;
text-decoration:none;
}
.proname{
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
border:0px solid #000000;
background-color:transparent;
}

/*hideshow*/

.dhtmlgoodies_question{	/* Styling question */
	/* Start layout CSS */
	color:#000;
	font-size:11px;
	background-color:#95a9b8;
	width:99.5%;
	margin-bottom:2px;
	margin-top:2px;
	padding:5px 2px 5px 2px;
	background-image:url('images/bg_answer.gif');
	background-repeat:no-repeat;
	background-position:top right;	
	
	/* End layout CSS */
	
	overflow:hidden;
	cursor:pointer;
}
.dhtmlgoodies_answer{	/* Parent box of slide down content */
	/* Start layout CSS */
	border:1px solid #317082;
	background-color:#E2EBED;
	width:99.6%;
	
	/* End layout CSS */
	
	visibility:hidden;
	height:0px;
	overflow:hidden;
	position:relative;

}
.dhtmlgoodies_answer_content{	/* Content that is slided down */
	padding:1px;
	font-size:0.9em;	
	position:relative;
}

